.footer {
  font-family: "Montserrat", sans-serif;
  background: url('/public/imagens/fundo.png') #6278F7;
  color: #FFF;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer p {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 850px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}